<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head></head><body>
     
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul class="flashes">
        {% for message in messages %}
         <div style="font-size: xx-large;text-align:center;">{{ message }}</div>
        {% endfor %}
         </ul>
        {% endif %}
        {% endwith %} 
         
    

	
		
            <p class="notice">Expected Input Image</p>
            <br/>
            <table style="margin-left: auto;margin-right: auto;">
                <img src="static/post_00000006.jpg" alt="My Image"/>
                <img src="static/post_00000012.jpg" alt="My Image"/>
                <img src="static/post_00000031.jpg" alt="My Image"/>
            </table>  
            
            <p class="notice">Unexpected Input Image</p>
            <br/>
            <table style="margin-left: auto;margin-right: auto;">
                <img src="static/post_00000049.jpg" alt="My Image"/>
                <img src="static/post_00000058.jpg" alt="My Image"/>
                <img src="static/post_00000182.jpg" alt="My Image"/>
            </table>  
            <br/>
            <br/>
            <table style="margin-left: auto;margin-right: auto;">
                
                
            </table>
		
	

<script type="text/javascript" src="/d2l/common/math/MathML.js?v=20.20.9.24432-31 "></script><script type="text/javascript">document.addEventListener('DOMContentLoaded', function() { D2LMathML.DesktopInit('https://s.brightspace.com/lib/mathjax/2.7.4/MathJax.js?config=MML_HTMLorMML','https://s.brightspace.com/lib/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML','130'); });</script></body></html>